* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  :root {
    --main-white:#fafafa;
    --main-light-gray: #e0e0e0;
    --main-green: #a1e081;
    --main-dark-green: #81e055;
    --main-darker-green: #5cb335;
  }

  body {
    background-color: var(--main-white);
    font-family: -apple-system, sans-serif;
    margin: 0;
  }

  